<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Let's Talk</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      href="https://cdn.bootstrapcdn.com/bootstrap-icons/1.6.1/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-4oVjYgZdJ+u3vX9qIxaGwkG/3V7P2wO2n0nN+ZXTaOJe7JhIz9U6SLHpUoLkU0Sz"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
  </head>
  <body>

    <div class="row justify-content-center mt-100" id="logInSection">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-danger text-white">
            
            <i class="fas fa-comment fa-3x"></i>
            <h4 class="mb-0 text-center">Login</h4>
          </div>
          <div class="card-body">
            
              <div class="form-group">
                <label for="email"><i class="fas fa-envelope text-danger"></i> Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password"><i class="fas fa-lock text-danger"></i> Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button  class="btn btn-danger btn-block" onclick="showApp()"><i class="fas fa-sign-in-alt fa-2x"></i> Login</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="appSection" style="display: none;">
    <div class="container">
      <!--Navigation bar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <i class="fas fa-comment fa-4x text-white" ></i>
        <a class="navbar-brand text-white" href="#">Let's Talk</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="#" role="button" onclick="showHome()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" role="button" onclick="showAbout()">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" role="button" onclick="showChat()">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" role="button" onclick="showContact()">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" role="button" onclick="logIn()"
                ><i class="fas fa-user fa-3x"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container" style="overflow: scroll; height: 75vh">
        <!-- Hero section -->
        <section class="jumbotron text-center bg-light " style="display:block;height: 67vh" id="homeSection">
          <div class="container bg-light"style="display:block;height: 50vh">
            <h1 class="jumbotron-heading text-danger"><i class="fas fa-comment fa-3x"></i>Let's Talk...</h1>
            <p class="lead text-danger">
              Take control of your mental health with our comprehensive app
            </p>
            <a href="#" class="btn btn-danger "><i class="fas fa-ok fa-3x text-white"></i>Get Started</a>
          </div>
        </section>

        <section class="features-icons bg-light text-center " style="display:none;" id="aboutSection">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-peace-fill fa-3x m-auto text-danger"></i>
                  </div>
                  <h4 class="text-danger">Mindfulness Exercises</h4>
                  <p class="lead mb-0 text-danger">
                    Reduce stress and improve focus with daily mindfulness
                    practices
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto  mb-lg-0 ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-graph-up fa-3x  m-auto text-danger"></i>
                  </div>
                  <h4 class="text-danger">Mood Tracker</h4>
                  <p class="lead mb-0 text-danger">
                    Log your emotions and track progress over time
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-journal-text fa-3x  m-auto text-danger"></i>
                  </div>
                  <h4 class="text-danger">(CBT) exercises</h4>
                  <p class="lead mb-0 text-danger">
                    Learn effective techniques to manage negative thoughts and
                    behaviors
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4 text-center">
                <i class="fas fa-book fa-3x text-danger"></i>
                <h4 class="text-danger">Resources</h4>
                <p class="text-danger lead">We provide a wealth of information and resources related to mental health, including articles, videos, podcasts, and more. You can access these resources at any time to learn more about mental health and ways to improve your wellbeing</p>
              </div>
              <div class="col-md-4 text-center">
                <i class="fas fa-tools fa-3x text-danger"></i>
                <h4 class="text-danger">Tools</h4>
                <p class="text-danger lead">Our app includes a variety of tools to help you manage your mental health, including guided meditations, mood trackers, and journaling prompts. These tools can help you develop healthy habits and stay on track with your mental health goals.</p>
              </div>
              <div class="col-md-4 text-center">
                <i class="fas fa-users fa-3x text-danger"></i>
                <h4 class="text-danger">Community Support</h4>
                <p class="text-danger lead">Our app provides a supportive community of individuals who are also focused on improving their mental health. You can connect with others, share your experiences, and receive support and encouragement</p>
              </div>
            </div>
          </div>
          
        </section>
      

      <div class="card mt-3" style="display:none;" id="chatSection">
        <div class="card-header bg-danger text-white">
          <div class="row">
            <h7>Conversation</h7>
            <p id="conversationDate" class="ml-auto"></p>
          </div>
        </div>
        <div class="card-body bg-light" style="overflow: scroll; height: 60vh">
          <div class="card overflow-auto ml-auto" id="rowChatBot"></div>
        </div>

        <div class="card-footer bg-danger text-white fixed">
          <div class="row">
            <div class="col-3">
              <p class="text-white">Send your message</p>
            </div>
            <div class="col-8">
              <input
                type="text"
                placeholder="Enter your text here"
                class="form-control bg-danger border-1  text-white"
                id="senderMessageInput"
              />
            </div>

            <div class="col-1">
              <i class="fas fa-paper-plane fa-2x" onclick="sendMessage()"></i>
            </div>
          </div>
        </div>
      </div>

      <section class="contact-section" style="display:none;" id="contactSection">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="card">
              <div class="card-header bg-danger">
                <h6 class="card-title text-white">Contact Us</h6>
              </div>
              <div class="card-body bg-light">
                <form name="contactForm" novalidate>
                  <div class="form-floating mb-3">
                    <label for="name" class="text-danger">Name</label>
                    <input
                      type="text"
                      class="form-control border-danger"
                      id="name"
                      required
                      ng-model="formData.name"
                      name="name"
                    />
                    <div
                      ng-show="contactForm.name.$dirty && contactForm.name.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.name.$error.required"
                        >Please enter your name.</span
                      >
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <label for="email" class="text-danger">Email address</label>
                    <input
                      type="email"
                      class="form-control border-danger"
                      id="email"
                      required
                      ng-model="formData.email"
                      name="email"
                    />
                    <div
                      ng-show="contactForm.email.$dirty && contactForm.email.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.email.$error.required"
                        >Please enter your email address.</span
                      >
                      <span ng-show="contactForm.email.$error.email"
                        >Please enter a valid email address.</span
                      >
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <label for="message" class="text-danger">Message</label>
                    <textarea
                      class="form-control border-danger"
                      id="message"
                      required
                      ng-model="formData.message"
                      name="message"
                    ></textarea>
                    <div
                      ng-show="contactForm.message.$dirty && contactForm.message.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.message.$error.required"
                        >Please enter a message.</span
                      >
                    </div>
                  </div>
                  <div class="d-grid">
                    <button
                      type="submit"
                      class="btn btn-danger btn-lg ml-auto "
                      ng-disabled="contactForm.$invalid"
                    >
                      Send<i class="fas fa-paper-plane fa-2x"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container">
      <footer class="bg-danger text-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center">
              <h6>Contact Us</h6>
              <h7>+254-726-837-210</h7></br>
              <h7>Email: info@mentalhealthapp.com</h7>
              <h7>Phone: 555-123-4567</h7></br>
              <h7>Nairobi</h7></br>
              <h7>Kenya</h7>
            </div>
            <div class="col-md-4 text-center">
              <h6>Follow Us</h6>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-facebook fa-3x "></i
              ></a>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-twitter fa-3x "></i
              ></a>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-instagram fa-3x "></i
              ></a>
              <a href="#" class="text-light  me-3"
                ><i class="fab fa-linkedin fa-3x "></i
              ></a>
            </div>
            <div class="col-md-4 text-center">
              <h6>Quick links</h6>
              <h7 role="button" onclick="showHome()">Home</h7></br>
              <h7 role="button" onclick="showAbout()">About us</h7></br>
              <h7 role="button" onclick="showChat()">Chat</h7></br>
              <h7>Resources</h7></br>
              <h7 role="button" onclick="showContact()">Contact us</h6>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 text-center">
              <h6>&copy; 2023 Mental Health App. All rights reserved.</h6>
            </div>
          </div>
        </div>
      </footer>
    </div>





  </div>
    

    <script src="index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  </body>
</html>
