<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Let's Talk</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      href="https://cdn.bootstrapcdn.com/bootstrap-icons/1.6.1/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-4oVjYgZdJ+u3vX9qIxaGwkG/3V7P2wO2n0nN+ZXTaOJe7JhIz9U6SLHpUoLkU0Sz"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container">
      <!--Navigation bar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white" href="#">Let's Talk</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"
                ><i class="fas fa-search"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#"
                ><i class="fas fa-user"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container" style="overflow: scroll; height: 80vh">
        <!-- Hero section -->
        <section class="jumbotron text-center bg-light">
          <div class="container bg-light">
            <h1 class="jumbotron-heading text-danger">Let's Talk...</h1>
            <p class="lead text-danger">
              Take control of your mental health with our comprehensive app
            </p>
            <a href="#" class="btn btn-danger my-2">Get Started</a>
          </div>
        </section>

        <section class="features-icons bg-light text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-peace-fill m-auto text-danger"></i>
                  </div>
                  <h3 class="text-danger">Mindfulness Exercises</h3>
                  <p class="lead mb-0 text-danger">
                    Reduce stress and improve focus with daily mindfulness
                    practices
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto  mb-lg-0 ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-graph-up m-auto text-danger"></i>
                  </div>
                  <h3 class="text-danger">Mood Tracker</h3>
                  <p class="lead mb-0 text-danger">
                    Log your emotions and track progress over time
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 ">
                  <div class="features-icons-icon d-flex">
                    <i class="bi bi-journal-text m-auto text-danger"></i>
                  </div>
                  <h3 class="text-danger">(CBT) exercises</h3>
                  <p class="lead mb-0 text-danger">
                    Learn effective techniques to manage negative thoughts and
                    behaviors
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      

      <div class="card mt-1">
        <div class="card-header bg-danger text-white">
          <div class="row">
            <h7>Conversation</h7>
            <p id="conversationDate" class="ml-auto"></p>
          </div>
        </div>
        <div class="card-body bg-light" style="overflow: scroll; height: 50vh">
          <div class="card overflow-auto ml-auto" id="rowChatBot"></div>
        </div>

        <div class="card-footer bg-danger text-white fixed">
          <div class="row">
            <div class="col-3">
              <p class="text-white">Send your message</p>
            </div>
            <div class="col-8">
              <input
                type="text"
                placeholder="Enter your text here"
                class="form-control bg-danger border-1  text-white"
                id="senderMessageInput"
              />
            </div>

            <div class="col-1">
              <i class="fas fa-paper-plane" onclick="sendMessage()"></i>
            </div>
          </div>
        </div>
      </div>

      <section class="contact-section">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="card">
              <div class="card-header bg-danger">
                <h6 class="card-title text-white">Contact Us</h6>
              </div>
              <div class="card-body bg-light">
                <form name="contactForm" novalidate>
                  <div class="form-floating mb-3">
                    <label for="name" class="text-danger">Name</label>
                    <input
                      type="text"
                      class="form-control border-danger"
                      id="name"
                      required
                      ng-model="formData.name"
                      name="name"
                    />
                    <div
                      ng-show="contactForm.name.$dirty && contactForm.name.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.name.$error.required"
                        >Please enter your name.</span
                      >
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <label for="email" class="text-danger">Email address</label>
                    <input
                      type="email"
                      class="form-control border-danger"
                      id="email"
                      required
                      ng-model="formData.email"
                      name="email"
                    />
                    <div
                      ng-show="contactForm.email.$dirty && contactForm.email.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.email.$error.required"
                        >Please enter your email address.</span
                      >
                      <span ng-show="contactForm.email.$error.email"
                        >Please enter a valid email address.</span
                      >
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <label for="message" class="text-danger">Message</label>
                    <textarea
                      class="form-control border-danger"
                      id="message"
                      required
                      ng-model="formData.message"
                      name="message"
                    ></textarea>
                    <div
                      ng-show="contactForm.message.$dirty && contactForm.message.$invalid"
                      class="invalid-feedback"
                    >
                      <span ng-show="contactForm.message.$error.required"
                        >Please enter a message.</span
                      >
                    </div>
                  </div>
                  <div class="d-grid">
                    <button
                      type="submit"
                      class="btn btn-danger btn-lg ml-auto"
                      ng-disabled="contactForm.$invalid"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container">
      <footer class="bg-danger text-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center">
              <h6>Contact Us</h6>
              <h7>+254726837210</h7>
              <h7>Email: info@mentalhealthapp.com</h7>
              <h7>Phone: 555-123-4567</h7>
              <h7>Nairobi</h7>
            </div>
            <div class="col-md-4 text-md-center">
              <h6>Follow Us</h6>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="text-light me-3"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
            <div class="col-md-4 text-center">
              <h6>Quick links</h6>
              <h7>Home</h7></br>
              <h7>About us</h7></br>
              <h7>Chat</h7></br>
              <h7>Resources</h7></br>
              <h7>Contact us</h6>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 text-center">
              <h6>&copy; 2023 Mental Health App. All rights reserved.</h6>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </body>
</html>
