body {
    margin: 0;
  }
  .full {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
  }
  .inside {
    position: relative;
    /* some bit of margins */
    top: 50px;
    left: 50px;
    /* calculate the width, if not, weird effect. */
    width: calc(100% - 50px * 2);
    height: calc(100% - 50px * 2);
    /* 50px * 2 because 50px is just enough for the .inside div's width and height not to fall out of screen. */
    /* make it like your image */
    background-color: blue;
    overflow: auto;
  }

 
  .bg-danger {
    background-color: #154360 !important;
  }
.bgImage{
  background-image:url("bgphoto.png");
}
  
  .text-danger{
    background-color: white !important;
  }
  .btn-danger{    
    background-color: #154360 !important;
  }
  .textColor{
    color: #154360 !important;
  }
  .border-danger{
    border-color: #154360 !important;
  }
  .bgColor{
    background-color: #154360 !important;
  }
  .bg-danger{
    background-color: #154360 !important;
  }
  @media (max-width: 767px) {
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .sidebar {
      position: fixed;
      z-index: 1;
      width: 100%;
      max-width: 200px;
      height: 100%;
      background-color: #f2f2f2;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
    .content {
      width: 100%;
    }
    .sidebar-open .sidebar {
      transform: translateX(0);
    }
  }
  